.banner {
  text-align: center;
  background-color: $primary-color;
  color: $text-light;
  padding: 40px;

  &__image-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__image {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    @include mobile {
      max-width: 100%;
    }
  }

  @include tablet {
    padding: 20px;
  }
}